/*Root*/
:root {
    --background: #F7F7F8;
    --blue: rgb(123, 211, 234);
    --transparent-blue: rgb(123, 211, 234, 0.5);
    --yellow: rgb(249, 250, 171);
}

/*Body*/
body {
    font-family: Arial, sans-serif;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background);
}
/*Common*/
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
/*Page wrapper*/
#pageWrapper {
    max-width: 90vw;
    min-width: 80vw;
    height: 100%;
}
/*Header*/
header {
    height: 100px;
    margin-top: 30px;
}
/*Navigation*/
nav {
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 2px -4px gray;
    z-index: 100;
    transition: 0.3s;
}
.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 25px 25px;
    transition: 0.3s;
}
nav div > a  {
    margin-left: 10px;
}
nav > a {
    margin-right: 10px;
}
nav ul {
    gap: 50px;
}
nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
nav ul a:before {
    content: "â—";
    display: flex;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    width: 100%;
    top: 25px;
    opacity: 0;
}
nav ul a:hover:before {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
/*Hero*/
#hero {
    height: 90vh;
}
#hero article {
    justify-content: center;
    align-items: start;
    width: 560px;
}
#hero h1 {
    position: relative;
    margin: 0;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--blue);
    animation: jiggle 5s infinite reverse;
    transition: 0.5s;
}
@keyframes jiggle {
    0% { transform: translateX(0); }
    5% { transform: translateX(-5px); }
    10% { transform: translateX(5px); }
    15% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    25% { transform: translateX(0); }
}
#hero h1:hover {
    padding-left: 280px;
    background-color: var(--transparent-blue);
    animation: none;
    transition: 0.5s;
}
#hero h1:before {
    font-family: "Noto Color Emoji", Arial, sans-serif;
    position: absolute;
    visibility: hidden;
    content: "\1F44B Salut, c'est ";
    left: -150px;
    opacity: 0;
    width: 280px;
    transition: 0.5s;
}
#hero h1:hover:before {
    left: 10px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
#carousel-complements {
    justify-content: center;
}
#carousel-complements ul {
    position: relative;
    width: 400px;
    margin: 0;
    padding-left: 7px;
}
#carousel-complements li {
    white-space: nowrap;
}
.complement {
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}
.complementActive {
    opacity: 1;
    z-index: 1;
}
/*Projects*/
#projects {
    min-height: 90vh;
    /*align-items: center;*/
}
#projects footer ul {
    padding: 0;
    gap: 10px;
}
#carousel-projects {
    justify-content: center;
}
#carousel-projects aside button {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    z-index: 2;
    color: black;
}
#carousel-projects > ul {
    position: relative;
    width: 700px;
    height: 700px;
    margin: 0;
    padding: 0 20px;
}

.project {
    position: absolute;
    align-items: center;
    justify-content: start;
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 2px -4px gray;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}
.project h3 {
    margin: 0;
    padding: 10px 20px;
}
.project img {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
    border-radius: 25px 25px 0 0;
}
.project ul {
    padding: 0;
}
.details {
    gap: 10px;
}
.details li{
    font-size: 1.3em;
}
.details li span {
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.project p {
    text-align: justify;
    max-width: 600px;
}
.project-active {
    opacity: 1;
    z-index: 1;
}
