.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.center {
    align-items: center;
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.no-bullets {
    list-style-type: none;
}
.button {
    background-color: rgb(249, 250, 171);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.3s;
}
.button:hover {
    background-color: rgb(249, 250, 171, 0.5);
}
.no-decoration {
    text-decoration: none;
    color: black;
}
.tech li {
    margin: 10px;
    padding: 8px;
    border-radius: 100px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(123, 211, 234);
    transition: 0.3s;
}
.small-image {
    border-radius: 25px !important;
}
.emoji {
    font-family: "Noto Color Emoji", sans-serif;
}