.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.center {
    align-items: center;
    justify-content: center;
}
.no-bullets {
    list-style-type: none;
}
.button {
    background-color: rgb(249, 250, 171);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.3s;
}
.button:hover {
    background-color: rgb(249, 250, 171, 0.5);
}
